<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div class="texttitle"><strong>Here are all the users in the system.</strong></div>

  <table class="table table-dark">
    <thead class="row">
      <tr>
        <td>Username</td>
        <td>Profession</td>
        <td>Sleep</td>
        <td>Smoking</td>
        <td>Budget</td>
        <td>Duration</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% for (let i= 0; i < matches.length; i++) { %>
        <td>
          <%- matches[i].user.username %>
        </td>
        <td>
          <%- matches[i].profession %>
        </td>
        <td>
          <%- matches[i].sleep %>
        </td>
        <td>
          <%- matches[i].smoking %>
        </td>
        <td>
          <%- matches[i].budget %>
        </td>
        <td>
          <%- matches[i].duration %>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>

  <h2>Check back every day for new matches</h2><br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer>
    <%- include partials/footer.ejs %>
  </footer>

</body>

</html>
